.margen-superior-main {
    margin-top: 50px;
    padding: 20px;
}

.color-navbar {
    background-color: #1068db !important;
    background-image: linear-gradient(90deg, #121b96 0%, #2889b6 50%, #2697cc 100%);
}

.color-texto-marca {
    color: #1e3d87 !important;
    font-size: 18px;
}

.boton-ancho-auto {
    width: auto;
}

.contenedor-login {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 108%; 
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #FFDEE9, #B5FFFC);
  overflow: hidden;
  padding: 20px;

  h1 {
    color: black !important; /* Cambia al color que desees */
    text-decoration: none !important; /* Quita posibles rayas */
    border: none !important;
    margin: 0;
    padding: 0;
}
}