.margen-superior-main {
    margin-top: 50px;
    padding: 20px;
}

.color-navbar {
    background-color: #1068db !important;
    background-image: linear-gradient(90deg, #121b96 0%, #2889b6 50%, #2697cc 100%);
}

.color-texto-marca {
    color: #1e3d87 !important;
    font-size: 18px;
}

.boton-ancho-auto {
    width: auto;
}

.contenedor-login {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 108%; 
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #FFDEE9, #B5FFFC);
  overflow: hidden;
  padding: 20px;

  h1 {
    color: black !important; /* Cambia al color que desees */
    text-decoration: none !important; /* Quita posibles rayas */
    border: none !important;
    margin: 0;
    padding: 0;
}
}

.tarjeta-categoria-contenedor {
  position: relative;
  overflow: hidden;
}

.tarjeta-categoria-cuerpo {
    transition: opacity 150ms ease;
}

.tarjeta-categoria-cuerpo-activo {
    opacity: 0.4;
}

.tarjeta-categoria-cuerpo-inactivo {
    opacity: 1;
}

.tarjeta-categoria-placeholder-imagen {
    height: 50px;
    width: 50px;
}

.tarjeta-categoria-capa {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 50;
    background: rbga(255, 255, 255, 0.25);
    padding: 8px;
}

.tarjeta-categoria-botones-capa {
    background: rgba(255, 255, 255, 0.95);
    border-radius: 8px;
    padding: 6px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12);
}

.tarjeta-empleado-contenedor {
  position: relative;
  cursor: pointer;
}

.tarjeta-empleado-cuerpo {
  transition: opacity 150ms ease;
}

.tarjeta-empleado-cuerpo-activo {
  opacity: 0.4;
}

.tarjeta-empleado-cuerpo-inactivo {
  opacity: 1;
}

.tarjeta-empleado-placeholder-imagen {
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
}

.tarjeta-empleado-capa {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.tarjeta-empleado-botones-capa {
  background: rgba(255, 255, 255, 0.95);
  border-radius: 8px;
  padding: 6px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12);
}